body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

header {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row; /* Default value */
  flex-wrap: nowrap; /* Default value, it determines whether items will collapse on a smaller screen instead of showing next to each other */
  align-items: center;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
}

a {
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header li {
  padding: 5px;
}

header a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

footer {
  background: linear-gradient(45deg, rgb(59, 65, 64), rgb(12, 13, 13));
}

footer li {
  width: 80px;
  height: 80px;
}

footer img {
  width: 100%;
  height: 100%;
}

.social-media {
  padding: 10px 20px;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
}

#navbar a {
  border-radius: 10px;
  padding: 7px 10px;
  background-color: rgb(255, 251, 0);
}

#navbar a:hover {
  background-color: rgb(235, 231, 0);
}

#page-logo a {
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#contact-info {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
}
